# diabetes

In [1]:
import pandas as pd

In [7]:
dataset=pd.read_csv("diabetes.csv")

In [8]:
dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [9]:
print("keys of dataset:\n",dataset.keys())

keys of dataset:
 Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [10]:
dataset.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [20]:
print("shape of Glucose:",dataset['Glucose'].shape)

shape of Glucose: (768,)

In [21]:
print("BloodPressure:",dataset['BloodPressure'])

BloodPressure: 0      72
1      66
2      64
3      66
4      40
       ..
763    76
764    70
765    72
766    60
767    70
Name: BloodPressure, Length: 768, dtype: int64

In [22]:
print("Insulin:",dataset['Insulin'])

Insulin: 0        0
1        0
2        0
3       94
4      168
      ...
763    180
764      0
765    112
766      0
767      0
Name: Insulin, Length: 768, dtype: int64

In [23]:
print("shape of Insuline:",dataset['Insulin'].shape)

shape of Insuline: (768,)

In [24]:
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test=train_test_split(dataset['BloodPressure'],dataset['Insulin'],random_state=0)

In [25]:
print("X_tarin shape:",X_train.shape)
print("y_train shape:",y_train.shape)

X_tarin shape: (576,)
y_train shape: (576,)

In [26]:
print("X_test shape:",X_test.shape)
print("y_test shape:",y_test.shape)

X_test shape: (192,)
y_test shape: (192,)

In [27]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=1)

NameError: name 'knn' is not defined